<div class="container" style="margin-top: 70px">
  <div class="row">
    <div class="page-header">
      <h1>Questions</h1>
    </div>
  </div>
  <div class="row">
    <%= link_to 'New Question', new_question_path, class: "btn btn-success pull-right" %>
    <table class="table">
      <thead>
        <tr>
          <th>Order</th>
          <th>Text</th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @questions.each do |question| %>
          <tr>
            <td><%= question.sort_order %></td>
            <td><%= link_to question.text, edit_question_path(question) %></td>
            <td><%= link_to 'Edit', edit_question_path(question) %></td>
            <td><%= link_to 'Delete', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <p>
  </p>

  <div class="row">
    <div class="page-header">
      <h1>Other Phrases</h1>
    </div>
  </div>
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Body</th>
        </tr>
      </thead>

      <tbody>
        <% @contents.each do |content| %>
          <tr>
            <td><%= link_to content.title, edit_content_path(content) %></td>
            <td><%= link_to content.body, edit_content_path(content) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

