<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @possible_answer.question %>
</p>

<p>
  <strong>Value:</strong>
  <%= @possible_answer.value %>
</p>

<p>
  <strong>Category:</strong>
  <%= @possible_answer.category %>
</p>

<p>
  <strong>Sort Order:</strong>
  <%= @possible_answer.sort_order %>
</p>

<%= link_to 'Edit', edit_possible_answer_path(@possible_answer) %> |
<%= link_to 'Back', possible_answers_path %>
