<%= form_for(content) do |f| %>
  <% if content.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(content.errors.count, "error") %> prohibited this content from being saved:</h2>

      <ul>
      <% content.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group col-12">
  <%= f.label :input, "When a Facebook user messages the bot with this input phrase... " %>
    <%= f.text_field :title, class: "form-control form-control-lg", "aria-describedby": "inputHelp" %>
    <small id="inputHelp" class="form-text text-muted">Note: a case-insensitive match is done on all known 'inputs' when a message is received, so the input "favourite colour" would match on: "What's your favourite colour?" and "FAVOURITE COLour?"</small>
  </div>

  <div class="form-group col-12">
    <%= f.label :output, "... the bot responds with this text message." %>
    <%= f.text_area :body, class: "form-control form-control-lg", rows: 5, "aria-describedby": "outputHelp" %>
    <small id="outputHelp" class="form-text text-muted">Coming soon, the ability to respond with rich media types including links, buttons and photo carousels.</small>
  </div>

  <div class="form-group">
    <%= f.submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>
