<div class="container" style="margin-top: 70px">
  <div class="row">

<p>
  <strong>Reason:</strong>
  <%= @sent_message.reason %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @sent_message.brand_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @sent_message.user_id %>
</p>

<p>
  <strong>Article:</strong>
  <%= @sent_message.article_id %>
</p>

<p>
  <strong>Show:</strong>
  <%= @sent_message.show_id %>
</p>

<p>
  <strong>Sent at:</strong>
  <%= @sent_message.sent_at %>
</p>

<p>
  <strong>Text:</strong>
  <%= @sent_message.text %>
</p>

  </div>
</div>
