<!-- Main jumbotron for a primary marketing message or call to action  -->
<div class="jumbotron">
  <div class="container">
    <p>
    <%= link_to "Prompts & Responses", questions_path, class: "btn btn-outline-info", role: "button" %>
    <%= link_to "Broadcast a Message", broadcasts_path, class: "btn btn-outline-danger", role: "button" %>
    <%= link_to "View Available Data", data_path, class: "btn btn-outline-warning", role: "button" %>
    </p>
    <p>Configure how the bot behaves and what it says, review content like runway shows and schedules, and see statistics on usage. </p>
  </div>
</div>

  <!-- Example row of columns -->
    </div>
  </div>
  <div class="col-md-8">
      <h2>Message Logs</h2>
      <p>How many people have talked to the bot? What messages have we <%= link_to "sent", sent_messages_path %> or <%= link_to "received", messages_path %>? All that info is here.</p>
      <p>
      <%= link_to "Sent", sent_messages_path, class: "btn btn-secondary", role: "button" %>
      <%= link_to "Received", sent_messages_path, class: "btn btn-secondary", role: "button" %></p>
  </div>
</div>
