<%= form_for(broadcast) do |f| %>
  <% if broadcast.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(broadcast.errors.count, "error") %> prohibited this broadcast from being saved:</h2>

      <ul>
      <% broadcast.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :template %>
    <%= f.select :template, Broadcast::VALID_TEMPLATES, class: "form-control" %>
  </div>

  <div class="form-group col-12">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group col-12">
    <%= f.label :image_url %>
    <%= f.text_field :image_url, class: "form-control" %>
  </div>

  <div class="form-group col-12">
    <%= f.label :button_text %>
    <%= f.text_field :button_text, class: "form-control" %>
  </div>

  <div class="form-group col-12">
    <%= f.label :link %>
    <%= f.text_field :link, class: "form-control" %>
  </div>

  <div class="form-group col-12">
    <%= f.label :text %>
    <%= f.text_area :text, class: "form-control form-control-lg", rows: 3, "aria-describedby": "textHelp" %>
    <small id="textHelp" class="form-text text-muted">Note: this is only used for plain-text messages. Otherwise anything entered here is ignored.</small>
  </div>

  <div class="actions">
    <%= f.submit "Send immediately", class: "btn btn-danger", data: { confirm: 'Are you sure?' } %>
  </div>
<% end %>
