<div class="container" style="margin-top: 70px">
  <div class="row">

    <div class="page-header">
      <h1>Shows</h1>
    </div>

    <p id="notice"><%= notice %></p>

  <%= paginate @shows %>
    
<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Brand</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @shows.each do |show| %>
      <tr>
        <td><%= link_to show.title, edit_show_path(show) %></td>
        <td><%= link_to show.brand.title, brand_path(show.brand) %></td>
        <td><%= link_to 'Delete', show, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

  <%= paginate @shows %>
  </div>
</div>
